<% @trainer.pocket_monsters.each do |pokemon| %>
    <% pokemon_name = PokemonEntry.find(pokemon.species_id).species_name %>
    <%= image_tag("#{pokemon_name}.png", :alt => "Bulbasaur") %><br/>

    <div>You picked a <%= "#{pokemon_name.capitalize}" %>!</div>
<% end %>

<audio loop id="background_audio" autoplay="autoplay">
  <source src="/assets/sound/trainer_profile.mp3" type="audio/mpeg" />
</audio>