$game-font: bold 7em 'Share Tech Mono';

.pokemon-logo {
  width: 50%;
  height: 50%;
  margin: 5% auto 0;
  display: block;
}
.pokeball {
  width: 1em;
  height: 1em;
  margin: 0 auto;
}
#on-rails {
  text-align: center;
  font: $game-font;
}
.enter-site {
  width: 50%;
  text-decoration: none;
  font: $game-font;
  font-size: 6em;
  text-align: center;
  color: black;
  margin: 0 auto;
  border: 10px ridge #B38F01;
  border-radius: 30px;
  border-spacing: 50px;
  background: darken(#006aaf, 6.5%);
  display: block;
}