.container#pokedex{
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 0 auto;
  font-size: 100%;
}

#trainer-name{
  width: 40%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  border-width: 10px;
  border-color: #DDDDDD;
  border-style: ridge;
  background-color: #28AAFD;
  background: -webkit-linear-gradient(top, #28AAFD, #467BB8);
}

h1#trainer-name {
  text-align: center;
  padding: 0.5%;
  font-family: 'Share Tech Mono', sans-serif;
}

input {
  outline: none;
  background: #6eb2e0;
  background: -webkit-gradient(linear, left top, left bottom, from(#28AAFD), to(#14567F));
  background: -webkit-linear-gradient(top, #28AAFD, #14567F);
  background: -moz-linear-gradient(top, #28AAFD, #14567F);
  background: -ms-linear-gradient(top, #28AAFD, #14567F);
  background: -o-linear-gradient(top, #28AAFD, #14567F);
  padding: 10px 20px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  border-color: black;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 20px;
  font-family: 'Share Tech Mono', sans-serif;
  text-decoration: none;
  vertical-align: middle;
}
input:hover {
  color: #fff;
}
input:active {
  border-top-color: #1b435e;
  background: #1b435e;
}

h2 {
  text-align: center;
  font-size: 1.25em;
  font-family: 'Share Tech Mono', sans-serif;
}

.pokedex-entry:first-of-type {
  margin-left: 5px;
}

.pokedex-entry:last-of-type {
  margin-right: 5px;
}

.pokedex-entry {
  width: 17em;
  height: 17em;
  float: left;
  background-color: #7F7F7F;
  background: -webkit-radial-gradient(#7F7F7F,#545454);
  margin: 5px;
  border-color: #232323;
  border-width: 4px;
  border-style: groove;
}

img.pokedex-img {
  width: 75%;
  height: 75%;
  display: block;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

}
