$game-font: 'Share Tech Mono';
$nintendo-blue: #28AAFD;

.container#pokedex{
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 0 auto;
  font-size: 100%;
}
#trainer-name{
  width: 40%;
  height: 40%;
  margin: 0 auto 0.5em;
  padding: 0.5%;
  border: 10px ridge lighten(gray, 30%);
  background-color: $nintendo-blue;
  background: -webkit-linear-gradient(top, $nintendo-blue, darken($nintendo-blue, 20%));
  text-align: center;
  font-family: $game-font;
}
input {
  outline: none;
  background: #6eb2e0;
  background: -webkit-gradient(linear, left top, left bottom, from($nintendo-blue), to(#14567F));
  background: -webkit-linear-gradient(top, $nintendo-blue, #14567F);
  background: -moz-linear-gradient(top, $nintendo-blue, #14567F);
  background: -ms-linear-gradient(top, $nintendo-blue, #14567F);
  background: -o-linear-gradient(top, $nintendo-blue, #14567F);
  padding: 10px 20px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  border-color: black;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 20px;
  font-family: $game-font;
  text-decoration: none;
  vertical-align: middle;

  :hover {
    color: #fff;
  }
  :active {
    border-top-color: #1b435e;
    background: #1b435e;
  }
}
h2 {
  text-align: center;
  font-size: 1.25em;
  font-family: $game-font;
}
.pokedex-entry {
  width: 17em;
  height: 17em;
  float: left;
  background-color: #7F7F7F;
  background: -webkit-radial-gradient(#7F7F7F,#545454);
  margin: 5px;
  border: 4px groove #232323;
  border-style: groove;

  :first-of-type {
    margin-left: 5px;
  }
  :last-of-type {
    margin-right: 5px;
  }
}
img.pokedex-img {
  width: 75%;
  height: 75%;
  display: block;
  margin: -10.5% auto auto;
  padding: 10px 10px 0px;
}
a.release-pokemon {
  font-family: $game-font;
  color: #fff;
}
