.welcome{
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 3em;
  text-align: center;
  margin-top: 7.5%
}

#name-entry input {
  margin: 0 auto;
  display: block;
}

#name-input {
  width: 40%;
  text-align: center;
}