.container {
  text-align: center;
}
#starter-headline {
  font: bold italic 3em 'Share Tech Mono';
}
#choose-starter {
  font: bold 1.75em 'Share Tech Mono';
}
#starters-container {
  width: 100%;
}
#starters {
  margin: 0 auto;

  img {
    padding: 20px;
  }
}
#quit {
  font: bold 1.25em 'Share Tech Mono';
  color: black;
  margin-top: 40px;
  display: block;
}