h1#starter-headline {
  text-align: center;
  font: bold italic 3em 'Share Tech Mono';
}
h2#choose-starter {
  text-align: center;
  font: bold 1.75em 'Share Tech Mono';
}
#starters-container {
  width: 100%;
}
#starters {
  text-align: center;
  margin: 0 auto;
}
#starters img {
  padding: 20px;
}
#quit {
  display: block;
  font-family: 'Share Tech Mono', sans-serif;
  font-size: .75em;
  text-align: center;
  color: black;
  padding-top: 20px;
}