/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 //GLOBAL//

 html {
   background-color: #FD6639;
   background: -webkit-linear-gradient(top, #DC0A2D, #6D0415);
   height: auto;
   min-height: 100%
 }

 form:focus{
   outline: 0;
 }

//LANDING PAGE//
@import "landing";

//BEGIN JOURNEY//
@import "signup";

//STARTER//
@import "starter";