<%= image_tag("pokemon.png", :alt => "#Pokemon", :class => "pokemon-logo") %>

<h1 id="on-rails"><%= image_tag("pokeball.png", :alt => "Pokeball", :class => "pokeball") %>n Rails</h1>

<%= link_to "Enter the Pokemon League", new_trainer_path %>
