<h1>Welcome to Pallet Town</h1>

<%= form_for @trainer do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit "Begin Your Journey!" %>
<% end %>

<audio loop id="background_audio" autoplay="autoplay">
  <source src="/assets/sound/opening.mp3" type="audio/mpeg" />
</audio>
