<h1 class="welcome">Welcome to Pallet Town!</h1>

<div id="name-entry">
	<%= form_for @trainer do |f| %>
	  <%= f.text_field :name, placeholder: "Please Enter Your Name", id: "name-input" %>
	  <%= f.submit "Begin Your Journey!" %>
	<% end %>
</div>

<audio loop id="background_audio" autoplay="autoplay">
  <source src="/assets/sound/opening.mp3" type="audio/mpeg" />
</audio>
